django
djangorestframework
psycopg2-binary
pillow

python-decouple
dj-config-url

drf-yasg

django-filter

celery
redis

djangorestframework_simplejwt

python-json-logger

django-debug-toolbar


django-allauth

django-redis
